alembic==1.4.3
android==1.0
aniso8601==8.0.0
antiorm==1.2.1
appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.1
audiostream==0.2
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cmake==3.17.2
db==0.1.1
distlib==0.3.1
Django==3.1
django-crispy-forms==1.9.2
djangorestframework==3.12.1
docopt==0.6.2
docutils==0.16
filelock==3.0.12
Flask==1.1.2
Flask-Migrate==2.5.3
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.4
from==0.1.0
gunicorn==20.0.4
html5lib==1.1
idna==2.10
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
Js2Py==0.70
lazy-object-proxy==1.4.3
Mako==1.1.3
MarkupSafe==1.1.1
mccabe==0.6.1
mysql-connector==2.2.9
opengles==0.0.1
packaging==20.4
parso==0.7.0
Pillow==8.0.0
pipenv==2020.6.2
pipwin==0.5.0
pygame==2.0.0.dev8
pygame-sdl2==2.1.0
pyjnius==1.2.1
pyjsparser==2.7.1
pylint==2.5.2
pyparsing==2.4.7
PyPrind==2.11.2
PyQt5==5.15.0
PySDL2==0.9.7
pySmartDL==1.3.4
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.1
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
SQLAlchemy==1.3.19
sqlparse==0.3.1
stripe==2.55.0
toml==0.10.1
typed-ast==1.4.1
tzlocal==2.1
urllib3==1.25.11
virtualenv==20.0.30
virtualenv-clone==0.5.4
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.2.0
wrapt==1.12.1
